* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(6.25rem, auto);
  justify-items: stretch;
  align-items: stretch;
}
header {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 2fr;

  grid-column: 1/3;
  background-color: #0a3871;
  text-align: center;
}

header img {
  width: 9.375rem;
  height: auto;
}

header p {
  font-size: 1.5rem;
  color: white;
  margin: auto;
}

.grid-layout {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 76.8vh;
  background-color: antiquewhite;
}

.grid-layout .seccion1,
.seccion2 {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.seccion1 {
  height: 98%;
  width: 98%;
  align-items: center;
  align-content: center;
}
.seccion1 h1,
p {
  margin-top: 1.25rem;
  font-size: 1.5rem;

  margin-bottom: 1.25rem;
}

.seccion1 textarea {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  text-align: center;
  border: none;
  outline: none;
}
.botones button {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 4rem;
  background-color: #0a3871;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.botones button:hover {
  background-color: #717978;
}
.seccion2 {
  height: 98%;
  border-radius: 20%;
  margin-top: 1rem;
  align-items: center;
  align-content: center;
  background-color: white;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.8);
}
.seccion2 .copiar {
  padding: 0.625rem 1.25rem;
  margin: 0.313rem;
  border-radius: 0.25rem;
  background-color: #717978;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.seccion2 .copiar:hover {
  background-color: #0a3871;
}
.seccion2 textarea {
  width: 70%;
  margin: auto;
  border: none;
  outline: none;
}
.seccion2 button {
  width: 50%;
  margin: auto;
}
.footer {
  background-color: #0a3871;
  grid-column: 1/3;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.footer p {
  margin-top: 2.6rem;

  color: antiquewhite;
}
/* tablet*/
@media (min-width: 47.375rem) and (max-width: 63.938rem) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
  .seccion1,
  .seccion2 {
    width: 50%;
    margin-top: 1.25rem;
  }
}
/* movil */
@media (min-width: 20rem) and (max-width: 26.563rem) {
  .grid-layout {
    display: flex;
    flex-direction: column;
  }
  .seccion1 h1,
  p {
    margin: 1.25rem;
  }

  .seccion2 img {
    display: none;
  }
  .seccion2 h2 {
    font-size: 1em;
    margin-top: 1rem;
  }
  .seccion1,
  .seccion2 {
    width: 90%;
    margin: 1.25rem;
  }
}
